#!/usr/bin/make -f

PACKAGE := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
VERSION := $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)-.*/\1/p')
UPSTREAM_URL := http://www.fontstock.com/public/
UPSTREAM_PKG := PTSans_OFL.zip

%:
	dh $@

get-orig-source:
	rm -rf $@
	mkdir -p $@/$(PACKAGE)-$(VERSION)
	cd $@ && wget $(UPSTREAM_URL)$(UPSTREAM_PKG)
	unzip -o $@/$(UPSTREAM_PKG) -d $@/$(PACKAGE)-$(VERSION)
	cd $@ && tar -jcf ../../$(PACKAGE)_$(VERSION).orig.tar.bz2 $(PACKAGE)-$(VERSION)
	rm -rf $@
